* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
  align-self: flex-start;
}

body {
  font-family: 'Lato', sans-serif;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(73, 73, 223, 1) 37%,
    rgba(77, 199, 223, 1) 100%
  );

  transition: all 1s ease;
}
/* utilities */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.wrapper div {
  font-size: 2.5rem;
  margin: 0 2rem 2rem 0;
  display: inline-block;
  background-color: rgb(39, 38, 38);
  padding: 1.3rem;
}

#hr,
#min,
#sec {
  transition: all 0.3s ease-in;
}
